#main-login{
    height: 100dvh;
    width: 100%;
    overflow: hidden;
}

:root {
    --b-radius: 16px;
    --main-shadow: 0px 10px 25px 0px
}

@keyframes fadein {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
  }

@keyframes enter-bottom {
    0%   {margin-bottom: -100%; opacity: 0%;}
    100% {margin-bottom: 0; opacity: 100%;}
  }

#login-logo{
    animation-name: fadein;
    animation-duration: 2.5s;
}

#login-enterdiv{
    position: fixed;
    bottom: 0;
    height: 40%;
    width: 100%;
    border-radius: var(--b-radius) var(--b-radius) 0px 0px;
    animation-name: enter-bottom;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.64, 0.07, 0.17, 1);
    overflow: hidden;
}

.login-button{
    box-shadow: var(--main-shadow) #0000002a;
    background-color: #fff;
    height: 8dvh;
    box-sizing: border-box;
    border-radius: var(--b-radius);
    margin-top: 8dvh;
    margin-bottom: 8dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    outline: 3px solid rgba(124, 59, 13, 0);
    transition: outline .3s;
    letter-spacing: .1rem;
}

.login-button:active{
    outline: 3px solid var(--orange-dark);
}