#backgound-login{
    background-color: rgba(0, 0, 0, 0.562);
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 80;
}

#login-popupdiv{
    width: 85%;
    max-width: 400px;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
}

#login-title{
    font-size: 36px;
    text-align: center;
}

.login-input{
    width: 100%;
    box-sizing: border-box;
    outline: 0px solid #888;
    border-radius: 3px;
    border: 1px solid #888 

}

.login-input-div{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-input-title{
}

.login-submit-div{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin-top: 10px;
}

.login-submit{
    height: 50px;
    width: 120px;
    border-radius: 5px;
    border: 0px solid;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
}

.login-submit.entrar{
    background-color: var(--orange2);
    color: #fff;
}

.login-submit.cadastrar{
    background-color: #fff;
    border: 2px solid var(--orange2);
    color: var(--orange2);
}

.login-submit:active{
    background-color: var(--orange-light);
}
