#main-home{
    box-sizing: border-box;
    padding: 20px;
    padding-top: calc(20px + var(--heigh-navbar));
    padding-bottom: calc(var(--heigh-navbar));
    height: 100%;
    width: 100%;
    overflow: auto;
}

#home-daysleft{
    padding-top: 20px;
    height: fit-content;
}

#home-daysleft-circle{
    display: inline-block;
    border-radius: 1000px;
    background: rgb(255, 255, 255);
    height: 150px;
    aspect-ratio: 1/1;
    vertical-align: middle;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#home-daysleft-inner-circle{
    display: inline-block;
    border-radius: 1000px;
    background: linear-gradient(180deg, #fff 30%, var(--orange-lighter-trans) 100%);
    
    height: 140px;
    aspect-ratio: 1/1;
    vertical-align: middle;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

#home-daysleft-title-div{
    text-align: center;
    margin-bottom: 20px;
}

#home-daysleft-dias{
    font-size: 60px;    
    position: relative;
    top: 16px
}

#home-daysleft-dias-text{
    font-size: 40px;
    position: relative;
    top: 4px
}

@keyframes opacidade {
    from {opacity: 0;}
    to {opacity: 100;}
  }
.home-div{
    box-sizing: border-box;
    padding: 30px;
    box-sizing: content-box;
    border-radius: 30px;
    background: var(--orange-lighter);
    background: linear-gradient(0deg, var(--orange-lighter-trans) 0%, var(--orange-lighter)100%);
    font-size: 23px;
    margin-top: 30px;
    margin-bottom: 30px;
    animation-name: opacidade;
    animation-duration: 1s;
}

.home-welcome-div{
    padding-top: 40px;
    margin-bottom: 25px;
}

.home-welcome-text{
    font-weight: bolder;
    font-size: 35px;
}